:root {
  --primary-color: #ffeb99;
  --secondary-color: #96dede;
  --tertiary-color: #000000;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  font-size: 0.9rem;
  gap: 2rem;
  margin: 0;
}

body.dark {
  background-color: rgb(43, 43, 43);
  color: white;
}

main {
  flex: 1;
  margin: 40px;
}
ul {
  list-style: none;
}

article {
  border: 1px solid var(--secondary-color);
  box-shadow: 2px 2px 4px 2px rgb(240, 240, 240);
  border-radius: 4px;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem;
  max-width: 600px;
}
.profile-picture {
  max-width: 40%;
  border-radius: 50%;
  border: solid 8px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
  padding: 0.5rem;
  max-width: 600px;
}

.current {
  color: var(--tertiary-color);
}
