* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

h1 {
  font-size: 2rem;
}
ul {
  list-style: none;
}
.header {
  background: #ffeb99;
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 4px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
:hover.header__title {
  color: rgb(139, 212, 212);
}

.card {
  margin: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid rgb(150, 222, 222);
  border-radius: 4px;
  position: relative;
}

.card__heading {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.card__bookmark {
  max-width: 50px;
  position: absolute;
  top: -24px;
  right: 10px;
}

.button {
  color: white;
  text-transform: lowercase;
  background: #ffeb99;
  border: none;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:hover.button {
  color: rgb(139, 212, 212);
}

.footer {
  background: #ffeb99;
  color: aliceblue;
  height: 60px;
  border-radius: 4px;
  width: 98%;
  position: fixed;
  bottom: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
#menu__bookmark {
  max-width: 50px;
  max-height: 40px;
}
#menu__icons {
  max-width: 32px;
  max-height: 40px;
}
