* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  font-size: 0.9rem;
  gap: 2rem;
  margin: 0;
}
main {
  flex: 1;
}
h1 {
  font-size: 2rem;
}
ul {
  list-style: none;
}
.header {
  background: #ffeb99;
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
  top: 0;
}
.header__title {
  color: black;
}
.header__title:hover {
  color: rgb(139, 212, 212);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  border: 1px solid rgb(150, 222, 222);
  border-radius: 4px;
  position: relative;
}

.card__heading {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.card__bookmark {
  max-width: 50px;
  position: absolute;
  top: -24px;
  right: 10px;
}

.button {
  color: white;
  text-transform: lowercase;
  font-size: 1rem;
  background: #ffeb99;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:hover {
  color: rgb(139, 212, 212);
}

.toggle-button:hover {
  color: rgb(139, 212, 212);
  background-color: black;
}
.answer {
  position: absolute;
  display: none;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__tags {
  color: black;
  text-transform: lowercase;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 100px;
  padding-left: 0;
  gap: 16px;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem;
  max-width: 600px;
}

.profile_picture {
  max-width: 40%;
  border-radius: 50%;
  border: solid 8px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(139, 212, 212, 0.519);
  margin: 2rem;
  padding: 0.5rem;
  max-width: 600px;
}

.counters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  padding: 0.3rem;
  max-width: 600px;
}
.toggle-button,
.questions,
.bookmarks {
  color: white;
  text-transform: lowercase;
  font-size: 0.9rem;
  background: #ffeb99;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 6px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgba(139, 212, 212, 0.519);
  max-width: 600px;
  margin: 2rem;
  padding: 0.5rem;
}

.tag {
  background-color: rgba(139, 212, 212, 0.519);
  border-radius: 4px;
  padding: 2px;
}

body.dark {
  background-color: rgb(43, 43, 43);
  color: white;
}
.footer {
  background: #ffeb99;
  color: aliceblue;
  height: 56px;
  border-radius: 4px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.current {
  color: black;
}
#menu__bookmark {
  max-width: 44px;
  max-height: 40px;
}
#menu__icons {
  max-width: 32px;
  max-height: 40px;
}
