button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.button {
  color: white;
  text-transform: lowercase;
  font-size: 1rem;
  background: var(--primary-color);
  box-shadow: 2px 2px 4px 2px rgb(240, 240, 240);
  color: var(--tertiary-color);
  border: none;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:hover,
.submit-button:hover,
.stats-button:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.toggle-button:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.submit-button {
  text-transform: lowercase;
  font-size: 1rem;
  background: var(--primary-color);
  box-shadow: 2px 2px 4px 2px rgb(240, 240, 240);
  color: var(--tertiary-color);
  border: none;
  border-radius: 4px;
  padding: 8px;
  max-width: 100px;
  align-self: center;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  padding: 0.3rem;
  max-width: 600px;
}

.stats-button,
.toggle-button {
  text-transform: lowercase;
  font-size: 1rem;
  background: var(--primary-color);
  box-shadow: 1px 1px 2px 1px rgb(240, 240, 240);
  color: var(--tertiary-color);
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.hidden {
  display: none;
}
