h1 {
  font-size: 2rem;
  color: var(--tertiary-color);
}

header {
  background: var(--primary-color);
  box-shadow: 2px 2px 4px 2px rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
  top: 0;
}
.header-title:hover {
  color: var(--secondary-color);
}
