.footer {
  background: var(--primary-color);
  height: 56px;
  border-radius: 4px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 60px;
}

#menu__bookmark {
  max-width: 44px;
  max-height: 40px;
}
#menu__icons {
  max-width: 32px;
  max-height: 40px;
}
